* {
    margin: 0;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Cabeçalho */
header h1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Dancing Script', cursive;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #498cb8;
    align-items: center;
}

header a {
    text-align: center;
    border-collapse: collapse;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header a:hover {
    text-decoration: underline;
}

/* Fim Cabeçalho */

/* Topo */
.Topo {
    background-image: url("https://img.elo7.com.br/product/zoom/1E7C84B/papel-de-parede-paisagem-montanhas-0004-adesivo-de-parede-decoracao-de-quarto-de-bebe.jpg");
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.TE img {
    margin: -2px;
    transform: scaleX(-1);
}

.txt p {
    font-size: 16px;
}

.txt h2 {
    color: #085c94;
    font-size: 18px;
}

.txt {
    text-align: center;
    padding: 10px;
}

/* Fim Topo */

/* Topicos */
.topico {
    text-align: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    padding-top: 18px;
    padding-bottom: 18px;
    align-items: center;
}

.icones{
    padding: 18px;
}

.topico h3{
    padding: 18px;
}

.topico p{
    padding: 18px;
    font-family: 'Poppins', sans-serif;
    color: #085c94;
}

/* Fim Topicos */

/* Final Texto */
.Final {
    background-color: #ebebeb;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Final h1 {
    color: #498cb8;
    font-size: 20px;
}

.Final a {
    text-decoration: none;
}

.Final p {
    color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    text-align: justify;
}

/* Fim Final */

/* Footer */
footer {
    background-color: #498cb8;
    color: white;
    text-align: center;
    padding: 1%;
    font-size: 14px;
}

/* Fim Footer */

/* Media Query para dispositivos com largura menor ou igual a 450 pixels */
@media (max-width: 450px) {
    * {
        padding-left: 2px;
        padding-right: 2px;
        box-sizing: border-box;
    }
    
    header h1 {
        font-size: 12px;
    }

    .txt p {
        font-size: 14px;
    }

    .txt h2 {
        font-size: 16px;
    }

    .topico {
        display: block;
    }

    .icones,
    .topico h3,
    .topico p {
        padding: 12px;
    }

    .topico p {
        font-size: 14px;
    }
}
    
    .Final h1 {
        font-size: 16px;
    }

    .Final p{
        font-size: 14px;
    }

    footer {
        font-size: 16px;
    }

