*{
    margin: 0;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

/* Cabeçalho */
header h1{
font-size: 25px;
color: rgb(255, 255, 255);
font-family: 'Dancing Script', cursive;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #498cb8;
    align-items: center;
}

header a{
    text-align: center;
    border-collapse: collapse;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header a:hover{
    text-decoration:underline ;
}
/* Fim Cabeçalho */

/* Topo */
.Topo {
    background-image: url("https://img.elo7.com.br/product/zoom/1E7C84B/papel-de-parede-paisagem-montanhas-0004-adesivo-de-parede-decoracao-de-quarto-de-bebe.jpg");
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
    background-position: center;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.TE img{
   margin: -3.8px;
   transform: scaleX(-1);
}
.txt p{
  font-size: 20px;
}

.txt h2 {
    color: #085c94;
}
.txt {
    text-align: center;
}
/* Fim Topo */

.Meio {
    text-align: center;
}

.Meio h2 {
    background-color: #ebebeb;
    padding: 10px;
    margin-top: 8px;
}

.Meio p {
    margin: 50px;
    color: #085c94;
}

.Final{
    background-color: #ebebeb;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.Final h1{
    color: #498cb8;
}

.Youtube {
    text-align: left;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.Youtube h2 {
    text-align:start ;
    padding-left: 55px;
    color: #498cb8;
}

.Youtube img{
    width: 300px;
}

footer{
    background-color: #498cb8;
    color: white;
    text-align: center;
    padding: 1%;
}

@media (max-width: 450px) {
    * {
        padding-left: 2px;
        padding-right: 2px;
        box-sizing: border-box;
    }
    
    header h1 {
        font-size: 12px;
    }
    
     /* Topo */
     .Topo {
        background-size: cover;
        background-position: top;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }

    .TE img {
        margin: -2px;
        transform: none;
    }

    .txt p {
        font-size: 18px;
    }
    /* Fim Topo */

    /* Meio */
    .Meio p {
        margin: 20px;
    }

    .Meio h2 {
        padding: 8px;
    }
    /* Fim Meio */

    /* Final */
    .Final h1 {
        font-size: 20px;
    }
    /* Fim Final */

    /* Youtube */
    .Youtube h2 {
        padding-left: 10px;
    }

    .Youtube img {
        width: 100%;
        max-width: 300px;
    }
    /* Fim Youtube */

    footer {
        font-size: 16px;
    }
}
